body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-color: #3f3f3f;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
}
