body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  font-family: "Roboto", sans-serif;
}
.weather-app {
  background-color: #3f3f3f75;
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  color: white;
}
#app-name {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-size: 54px;
  font-style: italic;
  max-width: 100%;
  padding-bottom: -50px;
  margin: 0%;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 18px;
}
a {
  color: rgb(138, 255, 245); /* Set the link color */
}
